* {
  padding: 0;
  margin: 0;
}

/* contenedor de grid index */
.container {
  display: grid;
  grid-template-rows: repeat(4, 250px);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav header-index header-index header-index"
    "nav section-index section-index aside"
    "nav section-index section-index aside"
    "footer footer footer footer";

}
/* clases generales para todas las paginas */
.nav {
  grid-area: nav;
  background-color: darkblue;
  font-size: 30px;
  padding: 5px;
}


.logo {
  display: flex;
  width: 300px;
  top: 50px;
  margin: 0;
}

.nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-top: 70px;
}

.nav li {
  color: white;
  background-color: black;
  border: 5px;
  border-style: inset;
  border-color: gray;
  padding: 20px;
  margin: 5px;

}

.nav li:hover{
  background-color: gray;
  transition: .3s;
  transform: scale(1.2);
  
}

.footer {
  grid-area: footer;
  background-color: darkblue;
}

.footer ul {
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  list-style: none;
  margin-top: 100px;

}

.footer li {
  color: white;
  background-color: black;
  padding: 15px;
  border: 5px;
  border-style: inset;
  border-color: gray;
}

.footer li:hover{
  background-color: gray;
  transition: .2s;
  transform: scale(1.2);
}

/* clases especificas del index */

.header-index {
  grid-area: header-index;
  background-color: darkblue;

}

.header-index h1{
color: white;
background-image:linear-gradient(to bottom, darkblue, rgb(44, 13, 44), rgb(166, 113, 14)) ;
text-align: center;
border: 15px;
border-style: inset;
padding: 5%;

}

.section-index {
  grid-area: section-index;
  background-color: brown;
  width: 100%;
}

.aside {
  grid-area: aside;
  background-color: darkblue;
  font-size: 15px;
}

.aside h1{
  color: white;
  text-decoration-line: underline;
}

.aside ul {
  display: flex;
  flex-direction: column;
  font-size: 40px;
}

.aside li{
margin: 25px;
list-style: none;

}

.aside a {
  color: white;
  background-color: black;
  border: 5px;
  border-color: gray;
  border-style: inset;
  padding: 10px;
  text-transform: capitalize;
  text-decoration: none;
}

.aside a:hover{
  background-color: gray;
  transition: .3s;
  transform: scale(1.2);
}

/* clases especificas del "quien soy" */

.container-quiensoy {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav header-quiensoy header-quiensoy header-quiensoy"
    "nav section-quiensoy section-quiensoy section-quiensoy"
    "footer footer footer footer";
}



.header-quiensoy {
  grid-area: header-quiensoy;
  background-color: darkblue;
 }

.section-quiensoy {
   grid-area: section-quiensoy;
   background-color: darkblue; 
  }






  
