.container-quiensoy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav header-quiensoy header-quiensoy header-quiensoy"
      "nav section-quiensoy section-quiensoy section-quiensoy"
      "footer footer footer footer";
  
      &__header-quiensoy {
        grid-area: header-quiensoy;
        background-color: darkblue;
       
        h1 {
        color: white;
        background-image: linear-gradient(to bottom, darkblue, rgb(44, 13, 44), rgb(166, 113, 14));
        text-align: center;
        border: 15px;
        border-style: inset;
        padding: 5%;
        margin-bottom: 0%;
         }
        
        p {
            background-color: black;
            color: aliceblue;
            border-style:inset;
            border-color: gray;
            border-width: 15px;
            width: 40%;
            height: 20%;
            padding: 10px;
            margin-top: 30px;
          }
         }
        &__section-quiensoy {
            grid-area: section-quiensoy;
            background-color: darkblue;
          }
           }