* {
  padding: 0;
  margin: 0;
}

@import './index.scss';
@import './quien-soy.scss';
@import './formatos.scss';
@import './eventos.scss';
@import './contacto.scss';
@import './variables/extend.scss';
@import './variables/mixing';


.nav {
  grid-area: nav;
  background-color: darkblue;
  font-size: 30px;
  padding: 5px;



  &__logo {
    display: flex;
    width: 300px;
    top: 50px;
    margin: 0;
  }

  &__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 70px;

    li {
      @include navegador (white, black, gray); 
      padding: 20px;
      border: 5px;
      margin: 5px;
      border-style: inset;
      text-transform: capitalize;
      text-decoration: none;
    }

    a {
      color: white;
      background-color: black;
      text-transform: capitalize;
      text-decoration: none;
    }
  }

  li:hover {
    background-color: gray;
    transition: .3s;
    transform: scale(1.2);

  }

  a:hover {
    background-color: gray;
    transition: .3s;
    transform: scale(1.2);
    text-transform: capitalize;
    text-decoration: none;
  }
}




.footer {
  grid-area: footer;
  background-color: darkblue;
  animation-name: footermagic;
  animation-duration: 7s;
  animation-iteration-count: 5;


  &__ul {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    list-style: none;
    margin-top: 100px;



    li {
      @include navegador (white, black, gray)
    }

    a {
      color: white;
      background-color: black;
      text-transform: capitalize;
      text-decoration: none;
    }

    li:hover {
      background-color: gray;
      transition: .2s;
      transform: scale(1.2);
    }

    a:hover {
      background-color: gray;
      transition: .2s;
      transform: scale(1.2);
    }
  }

  @keyframes footermagic {
    0% {
      background-color: darkblue;
    }

    25% {
      background-color: rgb(94, 68, 19);
    }

    50% {
      background-color: rgb(50, 31, 89);
    }

    75% {
      background-color: rgb(44, 13, 44);
    }

    100% {
      background-color: rgb(36, 20, 52);
    }
  }
}