%titulo{
    color: white;
    background-image: linear-gradient(to bottom, darkblue, rgb(44, 13, 44), rgb(166, 113, 14));
    text-align: center;
    border: 15px;
    border-style: inset;
    padding: 5%;
}