@mixin navegador ($colorletra, $colorfondo, $colorborde) {
    color: $colorletra;
    background-color: $colorfondo;
    padding: 15px;
    border: 5px;
    border-style: inset;
    border-color: $colorborde;
    text-transform: capitalize;
    text-decoration: none;
}